.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.title{
  text-transform:uppercase;
  color: var(--navy);
  font-weight: bolder;
  font-size: 40px;
  font-family: 'VenscaBold';
}

.header img{
    max-height: 30px;
}

.header a img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.notifBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding-bottom: 5px;
}